bin/
obj/
packages/
*.suo
*.csproj.user
project.lock.json
*.sdf
*.bak
Client/*.dll
Client/*.pdb
Client/*.winmd
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x86/*.dll
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x86/*.winmd
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x86/*.pdb
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x64/*.dll
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x64/*.winmd
Client/Unity/UnityVideoControl/Assets/Plugins/WSA/x64/*.pdb
Client/Unity/UnityVideoControl/Library
Client/Unity/UnityVideoControl/UnityPackageManager
Client/Unity/UnityVideoControl/UWP